# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
pubspec.lock

# Android
**/local.properties
**/gradle-wrapper.jar
**/captures/
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Runner/GeneratedPluginRegistrant.*

# macOS/Linux/Windows
**/DerivedData/
**/*.xcworkspace/
**/*.iml
.idea/
.vscode/

# Env
.env
*.keystore
*.jks

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.metadata
build/
.idea/
.vscode/
.DS_Store
.gradle/
ios/Pods/
android/.gradle/
android/app/release/
pubspec.lock

